@charset "utf-8";
.img_left_float {
	float: left;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	font-weight: normal;
}
.body_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
	font-weight: bold;
}




body,td,th {
	color: #30F;
}
body {
	background-color: #CFF;
}
.img_right_float {
	float: right;
	margin-left: 10px;
	border: thin inset #000;
}
